fundamentalanalysis==0.2.14
plotly==5.13.1
streamlit==1.19.0
streamlit-authenticator==0.2.1
python-dotenv==0.21.0
pyportfolioopt==1.5.3
yfinance==0.2.12
matplotlib==3.6.3
nltk==3.7
ctranslate2==2.20.0
transformers==4.20.1
